footer {
    background-image: url("../img/mramor.jpg");
    background-repeat: no-repeat;
    height: 300px;
}

.row-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
    margin-bottom: 20px;
}

.footer__h2 {
    font-size: 18px;
    letter-spacing: 3px;
    font-family: 'Etna';
    text-transform: uppercase;
    padding-left: 31px;
    color: aliceblue;
    padding-bottom: 10px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.footer__text {
    font-family: 'Roboto';
    color: aliceblue;
}